<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Electron</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <main>
        <h1>Hello World Electron</h1>
        <p>Criando APPs desktop com JS.</p>
        <p>Clique Aqui para acessar as <a href="./versao/versoes.html">versões</a> utilizadas</p>
        <p>Clique aqui para acessar o <a href="./contador/contador.html"> contador</a></p>
        <p>Clique aqui para acessar a <a href="./calculadora/calculadora.html">calculadora</a></p>
        <p>Clique aqui para acessar a <a href="./loja-musica/index.html">Loja de discos</a></p>
    </main>
    
</body>
</html>