<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Versões</title>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <header>
        <ul>
            <li>
                <a href="../index.html">Home</a>
            </li>
            <li>
                <a href="../versao/versoes.html">Versões</a>
            </li>
            <li>
                <a href="../contador/contador.html">Contador</a>
            </li>
            <li>
                <a href="../calculadora/calculadora.html">Calculadora</a>
            </li>
            <li>
                <a href="../loja-musica/index.html">Loja de Discos</a>
            </li>
        </ul>
    </header>
    <main>
        <h1>Versões utilizadas neste projeto</h1>
        <div>
            <p>Chrome: <span id="chrome"></span></p>
            <p>Node: <span id="node"></span></p>
            <p>Electron: <span id="electron"></span></p>
        </div>
    </main>

    <script src="renderer.js"></script>
    
</body>
</html>